body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}
    

header { 
    background-color: black;
    color: coral;
}

li {
    display: inline;
}

.AboutUs {
    background-color:bisque;
}

#fullname, #email, #message {
    display: block;
    width: 50%;
    position: relative;
    left: 10px;
}

#message {
    height: 100px;
}
