/* I know that none of this is the best way to approach, and is even incomplete, but I genuinely could not get things going well for me... sorry! */
/* Desktop version is complete, yet the mobile style is nowhere near complete and I'm very sorry.*/

* {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    /* font-family: 'Open Sans', sans-serif; */
    /* all: unset; */
}
/* I'm sorry, but I just can't anymore... */
@media screen and (max-width: 760px) {
    * {
        margin: 1rem auto;
        width: 90%;
        padding: 1rem;
        all:unset;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

title {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}

.SearchBox {
    float: right;
    position: relative;
    right: 50px;
    top: 40px;
}

main {
    position: relative;
    bottom: 520px;
}

header {
    background-color: #222;
    color: #c78c06;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100px;
}

.logo {
    position: relative;
    top: 15px;
    left: 120px;
    width: 70px;
    height: 70px;
}


li:nth-child(1) {
    background-color: #c78c06;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;

}


li {
    position: relative;
    bottom: 50px;
    left: 200px;
    display: inline;
    margin: 30px;
}

.banner {
    height: 500px;
    width: 100%;
    top: 100px;
}

.Welcome {
    position: relative;
    bottom: 497px;
    width: 750px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    background-color: rgb(0,0,0, .6);
    color: white;
}

.Welcome h1 {
    font-size: 50px;
    width: 500px;
    position: relative;
    right: 110px;
}

.Welcome h4 {
    background-color: #c78c06;
    font-size: large;
    text-align: center;
    padding: 30px 1px 30px;
    width: 200px;
    position: relative;
    right: 255px;
    color: #222;
}

.Welcome p {
    width: 700px;
    position: relative;
    right: 6px;
}

.AboutUs {
    background-color:#ffe6ac;
    position: relative;
    bottom: 500px;
    height: 200px;
}

.AboutUs h2 {
    font-size: 50px;
    font: bolder;
    left: 590px;
    bottom: 230px;
}

.AboutUs p {
    font-size: 15px;
    width: 450px;
    position: relative;
    left: 280px;
    bottom: 270px;
}

.PingPong {
    height: 180px;
    width: 400px;
    left: 170px;
    top: 10px;
}

.Service h2 {
    position: relative;
    left: 220px;
    font-size: 40px;
}

.Services1 {
    display: flex;
    flex-direction: row;
    position: relative;
}

.Services2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Service h2 {
    position: relative;
    left: 170px;
    font-size: 40px;
    top: 20px;
}

.DigitalTransformation {
    background-color: #ffe6ac;
    width: 390px;
    height: 500px;
    position: relative;
    left: 100px;
}

.DigitalTransformation p {
    position: relative;
    left: 10px;
    width: 400px;
}

.DigitalTransformation h3 {
    font-size: 30px;
    font: bolder;
    position: relative;
    left: 10px;
}

.DigitalTransformation h4 {
    text-align: center;
    justify-content: center;
    background-color: #222;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
    position: relative;

}

.Digital {
    width: 390px;
}

.Market {
    background-color: #ffe6ac;
    width: 390px;
    height: 500px;
    position: relative;
    right: 40px;
}

.Market p {
    position: relative;
    left: 10px;
    width: 400px;
}

.Market h3 {
    font-size: 30px;
    font: bolder;
    position: relative;
    left: 10px;
}

.Market h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 370px;
}

.Marketing {
    width: 390px;
}


.VideoProduction {
    background-color: #ffe6ac;
    width: 260px;
    height: 400px;
    position: relative;
    left: 124px;
}

.VideoProduction p {
    width: 240px;
    font-size: small;
    position: relative;
    left: 5px;
}

.VideoProduction h3 {
    font-size: 25px;
    font: bold;
    position: relative;
    left: 10px;
}

.VideoProduction h4 {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
    width: 180px;
    position: relative;
    bottom: 15px;
}

.Video {
    width: 260px;
}

.WebDevelopment {
    background-color: #ffe6ac;
    width: 260px;
    height: 400px;
    position: relative;
    left: 30px;
}

.WebDevelopment p {
    width: 240px;
    font-size: small;
    position: relative;
    left: 5px;
}

.WebDevelopment h3 {
    font-size: 25px;
    font: bold;
    position: relative;
    left: 10px;
}

.WebDevelopment h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 25px;
    width: 180px;
    position: relative;
    top: 1px;
}

.Web {
    width: 260px;
}

.Print {
    background-color: #ffe6ac;
    width: 260px;
    height: 400px;
    position: relative;
    right: 64px;
}

.Print p {
    width: 240px;
    font-size: small;
    position: relative;
    left: 5px;
}

.Print h3 {
    font-size: 25px;
    font: bold;
    position: relative;
    left: 13px;
}

.Print h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 25px;
    width: 180px;
    position: relative;
    bottom: 15px;
}

.Printed {
    width: 260px;
}

.Vision {
    position: relative;
    bottom: 500px;
}

.Vision h3 {
    color: white;
    font: bold;
    font-size: 30px;
    position: relative;
    bottom: 260px;
    left: 170px;
}

.Vision p {
    color: white;
    position: relative;
    bottom: 260px;
    left: 85px;
    width: 900px;
}

.Vision h4 {
    text-align: center;
    color: white;
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 180px;
    position: relative;
    bottom: 260px;
    right: 277px;
}

.Grid-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Grid-item1 {
    background-color: #ffe6ac;
    height: 350px;
    width: 500px;
}

.Grid-item1 h4 {
    font-size: 40px;
    position: relative;
    left: 10px;
}

.Grid-item1 h5 {
    font-size: 20px;
    position: relative;
    left: 10px;
}

.Grid-item1 p {
    position: relative;
    left: 10px;
}

.John {
    width: 500px;
    height: 350px;
}

.Grid-item2 {
    background-color: #ffe6ac;
    height: 350px;
    width: 500px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.Grid-item2 h4 {
    font-size: 40px;
    position: relative;
    left: 10px;
}

.Grid-item2 h5 {
    font-size: 20px;
    position: relative;
    left: 10px;
}

.Grid-item2 p {
    position: relative;
    left: 10px;
}

.Bob {
    width: 500px;
    height: 350px;
    grid-column-start: 2;
}

.Team {
    position: relative;
    bottom: 750px;
}

.Team h3 {
    font-size: 40px;
    position: relative;
    top: 10px;
    left: 20px;
}

.Contact {
    position: relative;
    bottom: 750px;
    left: 20px;
}

.Contact h1 {
    font-size: 40px;
}

.Contact h2 {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 500px;
    justify-content: space-around;
    height: 300px;
}

#fullname, #email, #message {
    width: 400px;
    position: relative;
    left: 170px;
}

 .Google {
    width: 500px;
    height: 350px;
    position: relative;
    bottom: 360px;
    left: 540px;
}

.Location h3 {
    position: relative;
    left: 536px;
    bottom: 390px;
    font-size: 30px;
}

.Hours {
    position: relative;
    bottom: 300px;
}

.Hours h3 {
    font-size: 30px;
    text-align: center;
}

.Operation {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box:nth-child(1) {
    border: 1px solid #222;
    margin: 0;
    text-align: center;
    background-color: #ffe6ac;
}

.box:nth-child(2) {
    border: 1px solid #222;
    margin: 0;
    text-align: center;
    background-color: #ffe6ac;
}

.box:nth-child(3) {
    border: 1px solid #222;
    margin: 0;
    text-align: center;
}

.box:nth-child(4) {
    border: 1px solid #222;
    margin: 0;
    text-align: center;
}

.box:nth-child(5) {
    border: 1px solid #222;
    margin: 0;
    text-align: center;
}

.box:nth-child(6) {
    border: 1px solid #222;
    margin: 0;
    text-align: center;
}

#message {
    height: 100px;
}

.Bottom {
    background-color: #222;
    color: #c78c06;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 1000px;
}

.Bottom p, footer {
    position: relative;
    left: 100px;
    top: 30px;
}

/* Thank you for the year <3 */