/* I know that none of this is the best way to approach, but I genuinely could not get things going well for me... sorry! */

* {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width: 1200px; */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}
    

header { 
    background-color: #222;
    color: #c78c06;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100px;
}

.logo {
    margin: 0 auto;
    position: relative;
    top: 15px;
    left: 120px;
    width: 70px;
    height: 70px;
}


li:nth-child(1) {
    background-color: #c78c06;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    
}


li {
    position: relative;
    bottom: 50px;
    left: 200px;
    display: inline;
    margin: 30px;
}

.banner {
    height: 500px;
    width: 100%;
    top: 100px;
}

.Welcome {
    position: relative;
    bottom: 497px;
    width: 750px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    background-color: rgb(0,0,0, .6);
    color: white;
}

.Welcome h1 {
    font-size: 70px
}

.Welcome h4 {
    background-color: #c78c06;
    font-size: large;
    text-align: center;
    padding: 30px 1px 30px;
    width: 200px;
    position: relative;
    right: 265px;
    color: #222;
}


.AboutUs {
    background-color:#ffe6ac;
    position: relative;
    bottom: 500px;
    height: 200px;
}

.AboutUs h2 {
    font-size: 50px;
    font: bolder;
    left: 540px;
    bottom: 230px;
}

.AboutUs p {
    font-size: 15px;
    width: 450px;
    position: relative;
    left: 230px;
    bottom: 270px;
}

.PingPong {
    height: 180px;
    left: 170px;
    top: 10px;
}

.Services {
    position: relative;
    bottom: 500px;
    right: 200px;
}

.Services h2 {
    position: relative;
    left: 360px;
    font-size: 40px;
}

.DigitalTransformation {
    background-color: #ffe6ac;
    width: 350px;
    height: 450px;
}

.DigitalTransformation p {
    position: relative;
    left: 10px;
}

.DigitalTransformation h3 {
    font-size: 30px;
    font: bolder;
    position: relative;
    left: 10px;
} 

.DigitalTransformation h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    width: 300px;
    position: relative;
    bottom: 10px;
}

.Digital {
    width: 350px;
}

.Market {
    background-color: #ffe6ac;
    width: 350px;
    height: 450px;
    position: relative;
    bottom: 450px;
    left: 360px;
}

.Market p {
    position: relative;
    left: 10px;
}

.Market h3 {
    font-size: 30px;
    font: bolder;
    position: relative;
    left: 10px;
}

.Market h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    width: 300px;
    position: relative;
    bottom: 10px;
}

.Marketing {
    width: 350px;
}


.VideoProduction {
    background-color: #ffe6ac;
    width: 233px;
    height: 400px;
    position: relative;
    bottom: 440px;
    right: 58px;
}

.VideoProduction p {
    position: relative;
    left: 12px;
}

.VideoProduction h3 {
    font-size: 25px;
    font: bold;
    position: relative;
    left: 9px;
}

.VideoProduction h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    width: 180px;
    position: relative;
    bottom: 5px;
}

.Video {
    width: 233px;
}

.WebDevelopment {
    background-color: #ffe6ac;
    width: 233px;
    height: 400px;
    position: relative;
    bottom: 840px;
    left: 190px;
}

.WebDevelopment p {
    position: relative;
    left: 12px;
}

.WebDevelopment h3 {
    font-size: 25px;
    font: bold;
    position: relative;
    left: 8px;
}

.WebDevelopment h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    width: 180px;
    position: relative;
    top: 13px; 
}

.Web {
    width: 233px;
}

.Print {
    background-color: #ffe6ac;
    width: 215px;
    height: 400px;
    position: relative;
    bottom: 1240px;
    left: 428px;
}

.Print p {
    position: relative;
    width: 190px;
}

.Print h3 {
    font-size: 25px;
    font: bold;
    position: relative;
    left: 8px;
}

.Print h4 {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px;
    width: 160px;
    position: relative;
    bottom: 5px; 
}

.Printed {
    width: 210px;
    height: 155px;
}

#fullname, #email, #message {
    display: block;
    width: 50%;
    position: relative;
    left: 10px;
}

#message {
    height: 100px;
}
